<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GorillaWear.Properties.Settings.kullanici_dataConnectionString"
            connectionString="Data Source=DESKTOP-2ELKNEJ\SQLEXPRESS;Initial Catalog=kullanici_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>